* * * * * root . /root/cron.env; /usr/local/bin/node -e "console.log(process.env)" >> /var/log/goodenv.cron.log 2>&1 
* * * * * root /usr/local/bin/node -e "console.log(process.env)" >> /var/log/badenv.cron.log 2>&1 

